/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    background-color: #e9f5db;
}

main {
    flex-grow: 1;
}

/* titoli  */

h1,
h2,
h3,
h4 {
    font-family: "Playfair Display", serif;
}


/* header */

header {
    padding: 10px 0;
    background-color: #588157;
    margin-bottom: 50px;
}

.logo-header {
    width: 120px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navs-container {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.navs-container a {
    color: #e9f5db;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navs-container a img {
    width: 35px;
}

.favorites-heart {
    position: relative;
}

/* .favorites-num {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    color: #fff;

} */

.favorites-num {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #344e41;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 0 6px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    box-sizing: border-box;
}



/* main  */

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


/* plant-list */

.plant-list-title {
    margin-bottom: 50px;
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: #344e41;
}

.plant-list-title img {
    width: 50px;
}

.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.plant-list-display {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.plant-list-el {
    width: 100%;
    background-color: #bdcaa5;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
    border: 2px solid #344e41;
}

/* plant-card */

.favorite-img {
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-category {
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
    gap: 5px;
    align-items: center;

}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: #e5f9e0;
    cursor: pointer;
}


/* card-detail */

.detail-card {
    position: relative;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    background-color: #bdcaa5;
    border: 2px solid #344e41;
    margin-bottom: 30px;
}

.detail-card h3 {
    margin-bottom: 30px;
}

.plant-image {
    border-radius: 10px;
    margin-bottom: 20px;
    border: 0.5px solid #588157;
}

.detail-card h4 {
    margin-bottom: 15px;
}

.detail-card ul>li {
    margin-bottom: 10px;
}

.card-detail-container {
    display: flex;
    justify-content: center;
}

.detail-card ul li>strong {
    font-size: 14.5px;
}

.detail-card .leaves-rate {
    width: 18px;
    display: inline-block;
}

.detail-card .leaves-rate-container {
    display: flex;
    gap: 10px;
}

.detail-card .toxicity-icons {
    width: 30px;
    display: inline-block;
}

.detail-card .toxicity-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.detail-card .toxicity-image-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* filter-input  */

.filter-input {
    padding: 5px;
    border: 1.5px solid #344e41;
    border-radius: 10px;
}


/* footer  */

footer {
    background-color: #588157;
    padding: 50px 0;
}

/* buttons */

.btn-sort-items {
    all: unset;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #344e41;
    font-size: 14px;
    background-color: #588157;
    color: #e9f5db;
    cursor: pointer;
}

.compare-num {
    padding: 0 5px;
    background-color: #344e41;
    border-radius: 50%;
}

/* empty list  */

.empty-list img {
    width: 60px;
}

.empty-list {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 150px 0;
    margin: 0 auto;

}



























































/* media query */


/* plant-card  */

@media (min-width: 576px) {
    .plant-list-el {
        width: calc((100% - 15px) / 2);
    }
}


@media (min-width: 768px) {
    .plant-list-el {
        width: calc((100% - 30px) / 3);
    }
}


@media(min-width: 992px) {
    .plant-list-el {
        width: calc((100% - 45px) / 4);
    }
}